/* .burger {
  display: none;
  position: relative;
  --width: 34px;
  --height: 24px;
  --size-line: 3px;
  --color: var(--burgerline-main-color);
  --color-additional: var(--burgerline-additional-color);
  width: var(--width);
  height: var(--height);
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.burger__line {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  height: var(--size-line);
  transform: translateY(-50%) scale(1);
  background-color: var(--color);
  transition: transform 0.2s ease-out;
}

.burger:before, .burger:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  height: var(--size-line);
  background-color: var(--color-additional);
  transition: transform 0.2s ease-out, top 0.2s ease-out;
}

.burger::before {
  top: 0;
}

.burger::after {
  top: calc(100% - var(--size-line) );
}

.burger__active .burger__line {
  transform: translateY(-50%) scale(0);
}

.burger__active::before {
  top: 50%;
  transform: rotate(-45deg);
}

.burger__active::after {
  top: 50%;
  transform: rotate(45deg);
  bottom: 0;
} 

@media(max-width: 800px) {
  .burger {
      display: block;
  }
}

@media(max-width: 630px) {
    .burger {
      --width: 28px;
      --height: 20px;
      --size-line: 2px;
  }
  .lock {
    overflow: hidden;
  }
} */