.footer {
  background-color: var(--text-color-main);
}
.footer__container {
  padding-top: 50px;
  padding-bottom: 32px;

  color: var(--color-white);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.3;
}
.footer__content {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
.text__title {
  font-size: 24px;
  font-weight: 700;
  line-height: normal;
  padding-bottom: 40px;
}
.text__title:hover {
  transition: all 0.36s ease-in-out;
  cursor: pointer;
  transform: scale(1.08);
  color: var(--bg-main-color);
}
.text__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  line-height: 1.3;
}
.text__list-item:hover {
  transition: all 0.36s ease-in-out;
  transform: scale(1.08);
  color: var(--bg-main-color);
}
.footer__app {
  padding-top: 50px;
  display: flex;
  justify-content: center;
  gap: 39px;
}
.footer__app-apple:hover {
  transition: all 0.36s ease-in-out;
  transform: scale(1.08);
  cursor: pointer;
}
.footer__app-google:hover {
  transition: all 0.36s ease-in-out;
  transform: scale(1.08);
  cursor: pointer;
}
.footer__policy {
  padding-top: 50px;
  text-align: center;

  color: var(--color-white);
  font-size: 12px;
  line-height: normal;
}
.footer__policy span {
  text-decoration-line: underline;
}
.footer__right {
  padding-top: 30px;
  display: flex;
  justify-content: center;
  gap: 40px;
}
.footer__policy-text {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.3;
}
.footer__policy-text:hover {
  transition: all 0.36s ease-in-out;
  transform: scale(1.08);
  cursor: pointer;
}