.header__gallery {
  background-color: var(--text-color-main);
  padding-bottom: 45px;
}
.navigation__item-gallery {
  color: var(--svg-color-blue);
}
.catalog__title {
  padding-top: 240px;
}
.type {
  padding-top: 50px;
  display: flex;
  justify-content: center;
  gap: 80px;
  color: var(--text-color-main);
  font-size: 24px;
  font-weight: 700;
  line-height: normal;
}
.type__name:first-child {
  color: var(--svg-color-blue);
}
.type__name:hover {
  transition: all 0.36s ease;
  transform: scale(1.15);
}
.product {
  padding-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 100px 40px;
  padding-bottom: 70px;
}
.product__info {
  border: 1px solid var(--svg-color-blue);
  max-width: 270px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.product__info-photos:hover {
  transition: all 0.36s ease-in-out;
  transform: scale(1.38);
}
.product__info-photos--image {
  width: 270px;
  height: 170px;
  border-bottom: 1px solid var(--svg-color-blue);
}
.product__info-photos--image:hover {
  border: 1px solid var(--svg-color-blue);
}
.product__info-title {
  color: var(--text-color-main);
  font-size: 24px;
  font-weight: 700;
  line-height: normal;
}
.product__info-payment {
  color: var(--text-color-main);
  font-size: 24px;
  font-weight: 700;
  line-height: normal;
}
.product__info-details {
  width: 100%;
  padding-top: 2px;
  padding-bottom: 2px;
  display: flex;
  justify-content: center;
  border-top: 1px solid var(--svg-color-blue);
  color: var(--svg-color-blue);
  line-height: 1.3;
}
.product__info-details:hover {
  transition: all 0.36s ease-in-out;
  background-color: var(--svg-color-blue);
  color: var(--color-white);
}
.button__more {
  padding: 13px 61px;
  display: flex;
  margin: 0 auto;
  gap: 10px;
  color: var(--color-white);
  background-color: var(--text-color-main);
  border: none;
  text-transform: uppercase;
  margin-bottom: 150px;
}
.button__more:hover {
  transition: all 0.36s ease-in-out;
  background-color: var(--svg-color-blue);
}
